body {
  padding-left: 5px;
}

.btn-geo-screen {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  
  margin: 5px 0px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background: #315efb;
  transition: 0.3s;
}

.btn-geo-screen:hover {
  transform: scale(1.05);
}